BEDROCK_KB_ID=QCQW1UU9BM
BEDROCK_DS_ID=B56IWAZSLQ
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-20250514-v1:0
DB_PATH=geekbrain.db
MONITORING_API_URL=http://localhost:8000
AWS_REGION=ap-southeast-1
DYNAMODB_TABLE=geekbrain-conversations
DYNAMODB_REGION=us-east-1
