# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.zip

# Node
frontend/node_modules/
frontend/dist/

# Python
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
# backend/geekbrain.db
backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp

# Secrets
*.pem
*.keyw5/terraform/terraform.tfstate*
w5/terraform/.terraform/
